<h1>Team Roles</h1>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <p class="thick">Ryan Tracey</p>
  </mat-expansion-panel-header>  
  <p>Back-end, front-end</p>
  <p class="explain">The major role Ryan had was creating the database and table to store the data coming from the polls. Also, he linked the front-end and back-end.</p>
</mat-expansion-panel>

<br>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <p class="thick">Martha Dybas</p>
  </mat-expansion-panel-header>  
  <p>Front-end</p>
  <p class="explain">The major role Martha had was formatting the pages and writing the tutorials, reviews and explainations for the framework choices.</p>
</mat-expansion-panel>

<br>

<a href="https://github.com/tr4cey/cps530-final-project" target="_blank"><p style="text-align:center">Our GitHub Page</p></a>
