<h1>Team Roles</h1>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <p class="thick">Ryan Tracey</p>
  </mat-expansion-panel-header>  
  <p><b>Back-end, front-end</b></p>
  <p class="explain">The major role Ryan had was creating a RESTful backend and database. Also, linking the front-end and back-end.</p>
  <a href="https://github.com/tr4cey" target="_blank"><p>GitHub Page</p></a>
</mat-expansion-panel>

<br>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <p class="thick">Martha Dybas</p>
  </mat-expansion-panel-header>  
  <p><b>Front-end</b></p>
  <p class="explain">The major role Martha had was formatting the pages and writing the tutorials, reviews and explainations for the framework choices.</p>
  <a href="https://github.com/mdybas" target="_blank"><p>GitHub Page</p></a>
</mat-expansion-panel>
