<mat-expansion-panel>
  <mat-expansion-panel-header>
    
    <p><b>Angular Installation</b></p>
  </mat-expansion-panel-header>
  <ol>
    <li>Download Node.js, you can download from nodejs.org</li>
    <li>Make sure you have the npm client installed, enter the command:<b> npm -v in terminal</b></li>
    <li>Install the Angular CLI, you use npm to do this, enter the command: <b>npm install -g @angular/cli</b></li>
    <li>To create a workspace, enter the command: <b>ng new my-app</b></li>

  </ol>
</mat-expansion-panel>


<mat-expansion-panel>
  <mat-expansion-panel-header>
    
    <p><b>Laravel Installation</b></p>
  </mat-expansion-panel-header>
  <ol>
    <li>Laravel has a few server requirments, so it is recommended to have the Laravel Homestead virtual machine</li>
    
    <li>Before installing Laravel, you need to download Composer. Use this link: <b>https://getcomposer.org/download/</b></li>
    
    <li>Next enter this command into the terminal: <b>composer global require laravel/installer</b></li>
    
    <li>Then you want to create a directory containing a Laravel installation with all of the dependencies. To do this enter the command: <b>laravel new nameofdirectory</b> (nameofdirectory is whatever you choose to name the directory)</li>
    <li>To use PHP's built-in development server enter the command: <b>php artisan serve</b></li>
    
  </ol>  
		
</mat-expansion-panel>

