<mat-accordion>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<p><b>Front End: Angular</b></p>
		</mat-expansion-panel-header>
		<p>Popularity:
		<li></li>
		</p>
		
		<p>Strengths: 
	   <li>faster load time and increased security by using the concept "ahead-of-time compiler"</li>
	   <li>fully customizable, giving more power to the developer and designer</li>
		</p>
		
		<p>Weaknesses:
		<li>difficult framework to learn because of the complex web of modules</li>
		<li>dynamic applications don't always perform well</li>
		</p>
		
    	<p>Types of websites: 
	    <li>website applications that rely on dynamic content</li>
	    <li>creating large-scale projects that involve a complex infrastructure</li>
	    <li>designing a progressive web application</li>
	    <li>examples: PayPal, Lego, Netflix, iStockPhoto</li>
    	</p>

	</mat-expansion-panel>
	
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<p><b>Back End: Laravel</b></p>
		</mat-expansion-panel-header>
		<p>Popularity:
			
		</p>
		
		<p>Strengths:
		<li>testing of the project is easy</li>
		<li>helps secure the application by protecting against the most serious risks (SQL injection, cross-sit request forgery, etc.)</li>
		</p>
		
		<p>Weaknesses:
		<li>it has less inbuilt support compared to other back end frameworks</li>
		<li>extending classes can sometimes be tricky</li>	
		</p>
		
		<p>Types of websites:
		<li>websites like forums, management systems and social bookmarking style applications use Laravel</li>
		<li>examples: Fox47, Yulair, Bonappetour</li>
		</p>
			
	</mat-expansion-panel>
	
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<p><b>Overall experience</b></p>
		</mat-expansion-panel-header>
		<p>Angular: 3/5</p>
		<p>The learning curve for Angular is quite steep because of the complex modules included. But the results are amazing, and this framework gives a lot of freedom to the developers.</p>
		
		<br>
		
		<p>Laravel: 4/5</p>
		<p>awesome</p>					
	</mat-expansion-panel>
	
</mat-accordion>
