<mat-expansion-panel>
  <mat-expansion-panel-header>
    
    <p class="title">Overall experience</p>
  </mat-expansion-panel-header>
  
  <p class="subtitle">Angular: 3 stars</p>
  <p> Angular exceeded our expectations, and is a complete framework that provides many useful modules. The documentation provided online, on the Angular website was helpful. Angular was simple to install, with instructions that were easy to follow. The downside we had was that Angular has a steep learning curve because of the complex modules. We would not choose a different framework and do not regret our choice, since Angular gave us the freedom to design and customize our page to what we wanted. </p>
		
 <br>
		
  <p class="subtitle">Laravel: 4 stars</p>
  <p> Laravel did meet our expectations because it is an easy framework for beginners. Laravel has many tutorials that provide step-by-step instructions. It took a couple of extra steps to install Laravel in comparison to Angular, but many tutorials and instructions are available online. The learning curve was not too steep. Once we understood the core concepts in became easy to use the framework. We would not change the framework and do not regret our choice. Using Laravel made the process of building the website easier.  </p>
  
</mat-expansion-panel>
