<mat-toolbar class="navbar">
  <div>Who is Cuter?</div>
  <div id="menuButtons">
	  <a routerLink="home"><button id="home">Home</button></a>
    
    <mat-menu #appMenu="matMenu">
      <a routerLink="summary"><button mat-menu-item>Summary</button></a>
      <a routerLink="installation"><button mat-menu-item>Installation</button></a>
      <a routerLink="tutorial"><button mat-menu-item>Tutorial</button></a>
      <a routerLink="conclusion"><button mat-menu-item>Conclusion</button></a>
    </mat-menu>
    
    <button [matMenuTriggerFor]="appMenu" id="assignment">Assignment</button>
    
    <a routerLink="credits"><button>Credits</button></a>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>